h2{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 30px;
    color: grey;
    font-weight: 200;

}

#red{
    margin-left: 15px;
    width: 1px;
    height: 317px;
    background-color: rgb(235, 34, 20);
    padding-left: 13em;
    float: left;
    margin-right: 10px;


}

#blue
{
   margin-left:15px;
    width: 1px;
    height: 317px;
    background-color: rgb(78, 50, 235);
    padding-left: 13em;
    float: left;
    margin-right: 10px;

}

#green
{
     margin-right: 10px;
        width: 15px;
        height: 317px;
        background-color: greenyellow;
        float: left;
        margin-left: 15px;
        padding-left: 13em;
}

#yellow{
    margin-right: 10px;
    width: 1px;
    height: 317px;
    background-color: rgb(238, 241, 12);
    float: left;
    margin-left: 15px;
    padding-left: 13em;

}

#cyan{
    margin-left: 15px;
    margin-right: 10px;
    width: 1px;
    height: 317px;
    background-color: rgb(4, 190, 236);
    float: left;
    padding-left: 13em;
}

    








h2{
    font-family: 'Goldman', cursive;
}